#dom {
    color: #333;
}
#dom .folder {
    margin-left: 12px;
}
#dom h5 {
    font-size: 16px;
    font-weight: bold;
}

#dom .folder h5:before {
    content: '📁';
    margin-right: 8px;
}

#dom .folder a,
#dom > a {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}
#dom > a:before,
#dom .folder a:before {
    background-image: var(--bg);
    width: 16px;
    height: 16px;
    content: '';
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;
}
#dom > a:hover,
#dom .folder a:hover {
    background: #eee;
}
#dom h5 {
    margin-top: 12px;
    margin-bottom: 4px;
}
