#dom {
    color: #333;
}
#dom .folder {
    margin-left: 12px;
}
#dom h5 {
    font-size: 16px;
    font-weight: bold;
}

#dom .folder h5:before {
    content: '📁';
    margin-right: 8px;
}

#dom > a i,
#dom .folder i {
    display: block;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 50%;
    font-style: normal;
}

#dom > a:hover,
#dom .folder a:hover {
    background: #eee;
}

.theme-1 .folder a,
.theme-1 > a {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.theme-2 .folder a,
.theme-2 > a {
    display: inline-flex;
    width: 200px;
    height: 4.5em;
    align-items: center;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.theme-2 .folder a,
.theme-2 > a {
    display: inline-flex;
    width: 200px;
    height: 4.5em;
    align-items: center;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.theme-2 a span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.theme-2 h5 {
    margin: 12px 0;
}
